html {
    background-color: #283540;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
  font-family: 'EB Garamond', serif;
  font-size: 1.2em;
}
h2 {
  font-family: 'Nunito';
}
h3 {
  font-size: 1.3em;
  font-style: normal;
  font-family: 'Calibri light';
}
p {
  font-family: 'EB Garamond', serif;
  font-size: 1.35em;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
.App {
  display: flex;
}
.main-font {
  font-family: 'EB Garamond';
}
.font-lg {
  font-size: 1.25em;
}
.font-md {
  font-size: 1em;
}
.font-sm {
  font-size: 0.75em;
}
.main-view {
  height: 80vh;
  width: 85vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 15px;
  background-color: #F2E6C2;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);
}
.header-wrapper {
  display: flex;
  height: 50px;
}
.item-large {
  display: flex;
  flex-grow: 5;
  justify-content: left;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 3vw;
  margin-left: 30px;
}
.item {
  display: flex;
  flex-grow: 1;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  margin: 1.5px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  color: black;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
.active {
  flex-grow: 3;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #3B568C 0 0px 0px 40px inset;
  color: #F2E6C2;
  letter-spacing: 2px;
}
.item:hover {
  color: rgba(0, 0, 0, 0.85);
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: rgba(119, 119, 133, 0.6) 8px 10px 5px -5px;
}
.wrapper {
  height: 65vh;
  width: 78vw;
  overflow: auto;
  margin-top: 25px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.welcome-image {
    overflow: hidden;
    background-image: url(./img/front-wedding.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 0em -22em;
    background-attachment: scroll;
    height: 95%;
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    border-radius: 8px;
}
.welcome-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}
.welcome-item {
    width: 55%;
    padding: 1em;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
}
.focus{
    background-color: rgba(15,28,37, 0.7);
}
.welcome-active-text {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 0.5rem;
    width: 2em;
    position: absolute;
    bottom: 1em;
    left: 26%;
}
.welcome-active-text span {
    height: 0.5rem;;
    width: 0.5rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.welcome-active-text span.welcome-active {
    background-color: #6F77A6;
}

.developer a {
  color: blue;
  text-decoration: none;
}
.projects-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5vh;
  margin-left: 5vw;
}
.tile {
  position: relative;
  flex-grow: 1;
  margin: 2vw 2vh;
  width: 350px;
  max-width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -4px 4px 20px 1px lightgrey;
  text-decoration: none;
  color: inherit;
  /*animation: bounce .3s;*/
}
.tile-splash {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
}
.tile-bottom {
  position: absolute;
  display: flex;
  padding-left: 1vw;
  padding-top: 1vh;
  left: 0;
  bottom: 0vh;
  width: 100%;
  height: 40px;
  background-color: rgba(10, 10, 10, 0.5);
}
.projects a {
  color: white;
  text-decoration: none;
}
.projects p {
  margin: 0;
}
.projects p a {
  color: blue;
}
.projects a:hover p {
  font-size: 1.5em;
  transition: all 100ms cubic-bezier(0.83, -0.03, 0.56, 0.59);
}
.about a {
  color: blue;
  text-decoration: none;
}
.contact a {
  color: blue;
  text-decoration: none;
}
.not-found {
  font-family: Calibri, light;
}
.computer-div {
  /* display: flex; */
  align-items: center;
  margin-left: 50%;
  margin-top: 10%;
}
.footer {
  display: flex;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  width: 100vw;
  height: 40px;
  bottom: 0;
  left: 0;
  padding: 5;
}
.footer p {
  width: auto;
  padding: 1px;
  margin: 5px;
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 6vmin;
  width: 40px;
}
.logo-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15vh;
  margin-top: 5vh;
}
.logo-flex a {
  height: 50px;
  width: 50px;
}
.facebook {
  height: 5vh;
  width: 5vw;
  border-radius: 4px;
  padding: 4px;
  animation: bounce 0.3s;
}
.twitter {
  height: 5vh;
  width: 5vw;
  padding: 4px;
  animation: bounce 0.3s;
}
.instagram {
  height: 5vh;
  width: 5vw;
  padding: 4px;
  animation: bounce 0.3s;
}
.linkedin {
  height: 5vh;
  width: 5vw;
  border-radius: 3px;
  padding: 4px;
  animation: bounce 0.3s;
}
.figure-div {
  position: fixed;
  width: 30%;
}
.about-figure {
  width: 200%;
  height: 300px;
  margin-left: 0;
  overflow: hidden;
  border-radius: 10px;
}
.about-content {
  background-color: #f1f0e2;
  width: 100%;
  opacity: 0.9;
  padding: 15px;
  z-index: 2;
}
.background-img {
  margin-top: -150px;
  margin-left: 0;
}
.error {
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 65vw;
  height: 25vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
