@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
    box-sizing:border-box;
}
html {
    background-color: #172226;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
  font-family: 'Raleway', serif;
  font-size: 1.2em;
}
h2 {
  font-family: 'Merriweather';
}
h3 {
  font-size: 1.3em;
  font-style: normal;
  font-family: 'Calibri light';
}
p {
  font-family: 'Raleway', serif;
  font-size: 1.35em;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}

.App {
  display: flex;
}
.main-font {
  font-family: 'Raleway'
}
.font-lg {
  font-size: 1.25em;
}
.font-md {
  font-size: 1em;
}
.font-sm {
  font-size: 0.75em;
}
.heading {
    position: absolute;
    top: 0;
    left: 0;
}
.view-header {
    font-family: 'Lato';
    text-transform: uppercase;
    display: inline-block;
    font-weight: 900;
    font-size: 3em;
    margin: 0.1em;
    position: relative;
    color: #52718C;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}
.view-header:before, .view-header:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
    cursor: crosshair;
}
.view-header, .view-header:before, .view-header:after {
    transition: all 0.1s ease-in-out;
}
.view-header:before {
    color: #F3EEDA;
    text-shadow: -1px 0px 1px rgba(255,255,255,.8), 1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}
.view-header:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform: scale(1.08,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,1deg);
}
.view-header:hover:before{
    color: #F3EEDA;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);}
.view-header:hover:after{
    transform: scale(1.08,1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg,22deg);
}
.click {
    cursor: pointer;
}
.main-view {
  height: 90vh;
  width: 90%;
  margin-left: 6%;
  margin-top: 50px;
  padding: 15px;
  background-color: #F3EEDA;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);
}
.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  height: 100%;
  width: 4em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #011126;
}
.item-large {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 2em;
 padding: 0;
 font-family: 'Merriweather', serif;
 font-size: 2.5em;
 color: #51718C;
 background-color: #51718C;
 transition: all 0.1s linear;
 cursor: pointer;
 text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
 text-transform: uppercase;
}
.item-large > a {
    color: #D9C8B4;
}
.item-large > p {
    font-size: 0.25em;
}
.item {
  display: flex;
  flex-direction: flex-column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  color: #51718C;
  margin: 1.5rem 0;
  width: 3em;
  height: 3em;
  border: 3px solid transparent;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
.active {
  border-bottom: 3px solid white;
  color: #D9C8B4;
}
.menu-social {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.logo-link {
    margin: 0.5em 0;
    width: 1em;
    height: 1em;
    fontSize: 1em;
    color: #D1D9E1;
    transition: all 0.1s ease-in-out;
}
.logo-link.facebook {
    color: rgb(8,126,235);
}
.logo-link.twitter {
    color: rgb(28,161,242);
}
.logo-link.instagram {
    background: -webkit-linear-gradient(rgb(76,93,204), rgb(183,58,162), rgb(253,82,66), rgb(241,78,85));
    -webkit-background-clip: 'text';
    -webkit-text-fill-color: 'transparent';
}

.wrapper {
  height: 90%;
  width: 95%;
  overflow: auto;
  margin-top: 1%;
  padding-top: 30px;
  padding-left: 2.5%;
  position: relative;
}

.welcome-image {
    overflow: hidden;
    background-image: url(./img/front-wedding.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 0em -25em;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    border-radius: 8px;
}
.welcome-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}
.welcome-item {
    width: 55%;
    padding: 1rem;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.feature-text-header {
    width: auto;
    position: relative;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.feature-text-header:before {
    content: '';
    border-bottom: solid 1px #5CAAEF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
}
.feature-rotate:before {
    animation: load 10s linear infinite;
}
@keyframes load {
    from { width: 0; }
    to { width: 100%; }
}

.welcome-item > div > p {
    font-size: 1.25em;
    font-weight: lighter;
}
.link {
    color: #49A695;
    position: relative;
    z-index: 1;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.link:hover {
    color: #5CAAEF;
}
.link:before {
    content: '';
    border-bottom: solid 1px #5CAAEF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.link:hover:before {
    opacity: 1.0;
}
.focus{
    background-color: rgba(15,28,37, 0.8);
}
.welcome-active-text {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 0.5rem;
    width: 4em;
    position: absolute;
    bottom: 1em;
    left: 25%;
}
.welcome-active-text span {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.welcome-active-text span.welcome-active {
    background-color: #6F77A6;
}
.welcome-play-pause {
    display: inline-block;
    position: absolute;
    bottom: 1em;
    left: 2%;
}
.welcome-play-pause > * {
    margin: 0 0.25rem;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5vh;
  margin-left: 5vw;
}
.tile {
  position: relative;
  flex-grow: 1;
  margin: 2vw 2vh;
  width: 350px;
  max-width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -4px 4px 20px 1px lightgrey;
  text-decoration: none;
  color: inherit;
  /*animation: bounce .3s;*/
}
.tile-splash {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
}
.tile-bottom {
  position: absolute;
  display: flex;
  padding-left: 1vw;
  padding-top: 1vh;
  left: 0;
  bottom: 0vh;
  width: 100%;
  height: 40px;
  background-color: rgba(10, 10, 10, 0.5);
}
.projects a {
  color: white;
  text-decoration: none;
}
.projects p {
  margin: 0;
}
.projects p a {
  color: blue;
}
.projects a:hover p {
  font-size: 1.5em;
  transition: all 100ms cubic-bezier(0.83, -0.03, 0.56, 0.59);
}
.about a {
  text-decoration: none;
}
.contact a {
  color: blue;
  text-decoration: none;
}
.skills {
    width: 100%;
    height: 98%;
}
.skills > span {
    margin-bottom: 1em;
}
.wrapper::-webkit-scrollbar {
    width: 0.5em;
}
.wrapper::-webkit-scrollbar-thumb {
    background-color: #A3B2C3;
    border-radius: 8px;
}

.wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1A3F69;
    border-radius: 8px;
}

.skill {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-row-gap: 1em;
    margin-bottom: 2em;
    padding-left: 2em;
}
.skill .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    width: 10em;
    height: 10em;
}
.skills-history {
    display: flex;
}
.not-found {
  font-family: Calibri, light;
}
.computer-div {
  /* display: flex; */
  align-items: center;
  margin-left: 50%;
  margin-top: 10%;
}
.footer {
    display: flex;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  width: 100vw;
  height: 40px;
  bottom: 0;
  left: 0;
  padding: 5;
}
.footer p {
    text-align: right;
  width: 100%;
  padding: 1px;
  margin: 5px;
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 6vmin;
  width: 40px;
}
.logo-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15vh;
  margin-top: 5vh;
}
.logo-flex a {
  height: 50px;
  width: 50px;
}
.logo-link {
    display: block;
}
.figure-div {
  position: fixed;
  width: 30%;
}
.about {
    height: 98%;
    width: 100%;
    padding-left: 2em;
}
.about-figure {
  width: 200%;
  height: 300px;
  margin-left: 0;
  overflow: hidden;
  border-radius: 10px;
}
.about-content {
  width: 95%;
  opacity: 0.9;
  padding: 1rem;
  z-index: 2;
}
.background-img {
  margin-top: -150px;
  margin-left: 0;
}
.error {
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 65vw;
  height: 25vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
